<%- include('partials/header') %>

<div class="container">
  <h1 class="auth-title">Login</h1>
  <div class="row">
    <div class="col-md-6 left block-divider">
      <div class="card">
        <div class="card-body">
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-block btn-dark">Login</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 right">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Login with Google
          </a>
          <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Login with Facebook
          </a>
          <hr>
          <p class="auth-text">Do not have an account?</p>
          <a class="btn btn-block btn-outline-secondary btn-center" href="/register" role="button">Create an account</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
